.client-settings {
  padding-right: 60px;

  &__h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 25px;
  }

  &__h2 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
  }
}