{% extends "layouts/admin.html" %}
{% block title %} admin-kunden {% endblock %}

{% block content %}
<section class="director-kunden director-main">
  <h1 class="director-content__heading heading heading__h1">Kunden</h1>

  <div class="director-content">

    <table class="table table--striped">

      <tr><th>Nr:</th>
        <th>Name</th>
        <th>Telefon</th>
        <th>E-Mail</th>
        <th>Geburstag</th>
        <th>Kunde seit</th>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>0228 96 16 032 21</td>
        <td>info@timebox23.com</td>
        <td>01.02.1085</td>
        <td>01.02.1085</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>0228 96 16 032 21</td>
        <td>info@timebox23.com</td>
        <td>01.02.1085</td>
        <td>01.02.1085</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>0228 96 16 032 21</td>
        <td>info@timebox23.com</td>
        <td>01.02.1085</td>
        <td>01.02.1085</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>0228 96 16 032 21</td>
        <td>info@timebox23.com</td>
        <td>01.02.1085</td>
        <td>01.02.1085</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>0228 96 16 032 21</td>
        <td>info@timebox23.com</td>
        <td>01.02.1085</td>
        <td>01.02.1085</td>
      </tr>

    </table>

  </div>

</section>
{% endblock %}
