{% extends "layouts/admin.html" %}
{% block title %} admin-slider {% endblock %}

{% block content %}
<section class="admin-settings director-main">
  <h1 class="director-content__heading heading heading__h1">Slider</h1>

  <div class="director-content">

    <div class="block">

      <table class="table table--striped">

        <tr>
          <th>Nr:</th>
          <th>Name</th>
          <th>Status</th>
        </tr>

        <tr>
          <td>01</td>
          <td>Slider 01</td>
          <td>Activ</td>
        </tr>

        <tr>
          <td>01</td>
          <td>Slider 01</td>
          <td>Inactiv</td>
        </tr>

        <tr>
          <td>01</td>
          <td>Slider 01</td>
          <td>Activ</td>
        </tr>

      </table>

    </div>

  </div>

</section>
{% endblock %}
