{% extends "layouts/admin.html" %}
{% block title %} admin-dashboard {% endblock %}

{% block content %}
<section class="director-benachrichtigung director-main">
  <h1 class="director-content__heading heading heading__h1">Newsletter</h1>

  <div class="director-content">

    <table class="table table--striped">

      <tr>
        <th>Nr:</th>
        <th>Name</th>
        <th>Erstellt am:</th>
        <th>Betreff</th>
        <th>Verschickt am</th>
      </tr>

      <tr>
        <td>01</td>
        <td>Benachrichtigung 01</td>
        <td>02.12.205</td>
        <td>Hier kommt der Betreff rein</td>
        <td>15:45</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Benachrichtigung 01</td>
        <td>02.12.205</td>
        <td>Hier kommt der Betreff rein</td>
        <td>15:45</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Benachrichtigung 01</td>
        <td>02.12.205</td>
        <td>Hier kommt der Betreff rein</td>
        <td>15:45</td>
      </tr>



    </table>

  </div>

</section>
{% endblock %}
