{% extends "layouts/admin.html" %}
{% block title %} admin-dashboard {% endblock %}

{% block content %}
<section class="admin-kalendar director-main">
  <h1 class="heading heading__h1">Kalendar</h1>

  <div class="director-content">
    {% include "includes/kalendar-form.html" %}

    <section class="kalendar">

      <div class="kalendar-carousel kalendar__carousel">

        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>

        <div class="kalendar-carousel__block is-active">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>

        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>

        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>

        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>
        <div class="kalendar-carousel__block">
          <a href="#">
            <div class="kalendar-carousel__name">Stefanie</div>
            <img class="kalendar-carousel__img" src="images/content/kalendar-carousel.jpg" alt="">
          </a>
        </div>


      </div>

      <div class="kalendar__wrap">
        <header class="kalendar__header">

          <a class="btn btn--green" id="kalendarTermin" href="#kalendarModal">Termin erstellen</a>
          <div class="kalendar__controls">
            <div>
              <a class="kalendar__control kalendar__control--prev" href="#"><i></i></a>
              <a class="kalendar__control kalendar__control--next" href="#"><i></i></a>
            </div>
            <a href="#" class="btn btn--red btn--small">Heute</a>
            <time class="kalendar__time">08 - 14 Oktober 2015</time>
          </div>

        </header>

        <table class="kalendar__table">
          <tr>
            <th></th>
            <th>Mo. 08.10</th>
            <th>Di. 09.10</th>
            <th>Mi. 10.10</th>
            <th>Do. 11.10</th>
            <th>Fr. 12.10</th>
            <th>Sa. 13.10</th>
            <th>So. 14.10</th>
          </tr>

          <tr>
            <th rowspan="2">08:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">08:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="kalendar-block kalendar-block--first">
                <div class="kalendar-block__date">8.15 - 9.45</div>
                <p class="kalendar-block__text">
                  Nägel - Nagel-
                  modellage komplett
                  mit Farbe
                </p>
                <div class="kalendar-block__autor">Andreas Muller</div>
              </div>
            </td>
            <td></td>
            <td class="is-disabled"></td>
            <td class="is-disabled"></td>
          </tr>

          <tr>
            <th rowspan="2">09:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">09:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">10:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="kalendar-block kalendar-block--second">
                <div class="kalendar-block__date">8.15 - 9.45</div>
                <p class="kalendar-block__text">
                  Nägel - Nagel-
                  modellage komplett
                  mit Farbe
                </p>
                <div class="kalendar-block__autor">Andreas Muller</div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">10:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">11:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">11:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">12:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="kalendar-block kalendar-block--third">
                <div class="kalendar-block__date">8.15 - 9.45</div>
                <p class="kalendar-block__text">
                  Nägel - Nagel-
                  modellage komplett
                  mit Farbe
                </p>
                <div class="kalendar-block__autor">Andreas Muller</div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">12:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">13:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">13:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">14:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">14:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">15:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">15:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">16:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">16:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">17:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">17:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">18:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">18:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">19:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">19:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">20:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">20:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th rowspan="2">21:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

        </table>
      </div>

    </section>


  </div>

</section>
{% endblock %}
