{% extends "layouts/admin.html" %}
{% block title %} admin-dashboard {% endblock %}

{% block content %}
<section class="director-main">
  <h1 class="director-content__heading heading heading__h1">Bestellungen</h1>

  <div class="director-content">

    <table class="table table--striped">

      <tr><th>Nr:</th>
        <th>Name</th>
        <th>Bestellung</th>
        <th>Mitarbeiter</th>
        <th>Zeit</th>
        <th>Datum</th>
        <th>Summe</th>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Damen Waschen</td>
        <td>Jessika</td>
        <td>15:45</td>
        <td>22.12.2015</td>
        <td>22.12.2015</td>
        <td>45€</td>
      </tr>

    </table>

  </div>

</section>
{% endblock %}
