{% extends "layouts/admin.html" %}
{% block title %} admin-gastebuch {% endblock %}

{% block content %}
<section class="director-kunden director-main">
  <h1 class="director-content__heading heading heading__h1">Gästebuch</h1>

  <div class="director-content">

    <table class="table table--striped">

      <tr>
        <th>Nr:</th>
        <th>Name</th>
        <th>Kommentag</th>
        <th>Datum</th>
        <th>Status</th>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. CuLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. CuLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean co</td>
        <td>22.11.2019
          Veröffentlicht</td>
        <td>Aktiv</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. CuLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. CuLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean co</td>
        <td>22.11.2019
          Veröffentlicht</td>
        <td>Aktiv</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. CuLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. CuLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean co</td>
        <td>22.11.2019
          Veröffentlicht</td>
        <td>Aktiv</td>
      </tr>

      <tr>
        <td>01</td>
        <td>Mustermann Slawa</td>
        <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. CuLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. CuLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean co</td>
        <td>22.11.2019
          Veröffentlicht</td>
        <td>Aktiv</td>
      </tr>



    </table>

  </div>

</section>
{% endblock %}
