{% extends "layouts/client.html" %}
{% block title %} client-gustebook {% endblock %}

{% block content %}
<section class="client-gustebook">
  <h1 class="client-gustebook__heading">Gästebuch</h1>

  <div class="gustebook-block">
  <div class="gustebook-block__top">
    <div class="gustebook-block__data">
      <span class="gustebook-block__name"> Elena T. Montag</span>, <time> 22. Juni 2015 16:19</time>
    </div>
    <div class="stars">
      <div class="stars__value"  style="width: 100%"></div>
    </div>

  </div>
  <h2 class="gustebook-block__heading">Wimpernverlängerung</h2>
  <p class="gustebook-block__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, </p>
</div>
  <div class="gustebook-block">
    <div class="gustebook-block__top">
      <div class="gustebook-block__data">
        <span class="gustebook-block__name"> Elena T. Montag</span>, <time> 22. Juni 2015 16:19</time>
      </div>
      <div class="stars">
        <div class="stars__value"  style="width: 100%"></div>
      </div>

    </div>
    <h2 class="gustebook-block__heading">Wimpernverlängerung</h2>
    <p class="gustebook-block__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, </p>
  </div>

</section>
{% endblock %}
