{% extends "layouts/client.html" %}
{% block title %} client-newsletter {% endblock %}

{% block content %}
<section class="client-newsletter">
  <h1 class="client-newsletter__heading">Newsletter</h1>
  <ul class="client-newsletter__list">
    <li class="client-newsletter__item">
      <table class="newsletter-table">
        <tr>
          <td><img src="http://placehold.it/75/75" alt="" class="newsletter-table__avatar"></td>
          <td>
            <h2 class="newsletter-table__heading">Nagelstudio Bonn Beauty Werk</h2>
            <div class="newsletter-table__text">Angemeldet am 22.11.2016</div>
          </td>
          <td><input class="newsletter-table__checkbox" type="checkbox"></td>
        </tr>
      </table>
    </li>
    <li class="client-newsletter__item">
      <table class="newsletter-table">
        <tr>
          <td><img src="http://placehold.it/75/75" alt="" class="newsletter-table__avatar"></td>
          <td>
            <h2 class="newsletter-table__heading">Nagelstudio Bonn Beauty Werk</h2>
            <div class="newsletter-table__text">Angemeldet am 22.11.2016</div>
          </td>
          <td><input class="newsletter-table__checkbox" type="checkbox"></td>
        </tr>
      </table>
    </li>
    <li class="client-newsletter__item">
      <table class="newsletter-table">
        <tr>
          <td><img src="http://placehold.it/75/75" alt="" class="newsletter-table__avatar"></td>
          <td>
            <h2 class="newsletter-table__heading">Nagelstudio Bonn Beauty Werk</h2>
            <div class="newsletter-table__text">Angemeldet am 22.11.2016</div>
          </td>
          <td><input class="newsletter-table__checkbox" type="checkbox"></td>
        </tr>
      </table>
    </li>
  </ul>
  <button class="client-newsletter__btn btn btn--red">Speichern</button>
</section>
{% endblock %}
