{% extends "layouts/client.html" %}
{% block title %} client-settings {% endblock %}

{% block content %}
<section class="client-booking">
  <div class="booking-tabs" id="bookingTabs">
    <ul class="booking-tabs__list nav-wizard">
      <li class="booking-tabs__item">
        <a class="booking-tabs__link" href="#bookingTabs-1">Leistungen</a><div class="nav-arrow"></div>
      </li>
      <li class="booking-tabs__item"><div class="nav-wedge"></div><a class="booking-tabs__link" href="#bookingTabs-2">Mitarbeiter</a><div class="nav-arrow"></div></li>
      <li class="booking-tabs__item"><div class="nav-wedge"></div><a class="booking-tabs__link" href="#bookingTabs-3">Datum</a><div class="nav-arrow"></div></li>
      <li class="booking-tabs__item"><div class="nav-wedge"></div><a class="booking-tabs__link" href="#bookingTabs-4">Zeit</a><div class="nav-arrow"></div></li>
      <li class="booking-tabs__item"><div class="nav-wedge"></div><a class="booking-tabs__link" href="#bookingTabs-5"><i class="booking-tabs__ok"></i></a></li>
    </ul>

    <div class="booking-tabs__tab" id="bookingTabs-1">
      <div class="booking-accordion" id="bookingAccordion">
        <h3 class="booking-accordion__heading">Haare</h3>
        <table class="booking-table">
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
        </table>
        <h3 class="booking-accordion__heading">Kosmetik</h3>
        <table class="booking-table">
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
        </table>
        <h3 class="booking-accordion__heading">Gesichtbehandlung</h3>
        <table class="booking-table">
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
        </table>
        <h3 class="booking-accordion__heading">Nägel</h3>
        <table class="booking-table">
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
            <td>
              <button class="booking-table__btn btn btn--red">Buchen</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="booking-tabs__tab" id="bookingTabs-2">
      <ul class="mitarbeiter">
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
        <li class="mitarbeiter__item">
          <a href="#">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="mitarbeiter__img">
          </a>
          <div class="mitarbeiter__name">Herr Müller</div>
        </li>
      </ul>
    </div>
    <div class="booking-tabs__tab" id="bookingTabs-3">
      <div class="booking-date" id="bookingDatepicker"></div>
    </div>
    <div class="booking-tabs__tab" id="bookingTabs-4">
      <div class="zeit">
        <button class="btn zeit__btn">10:45</button>
        <button class="btn zeit__btn is-active">10:45</button>
        <button class="btn zeit__btn">10:45</button>
        <button class="btn zeit__btn">10:45</button>
        <button class="btn zeit__btn">10:45</button>
      </div>
    </div>
    <div class="booking-tabs__tab" id="bookingTabs-5">
      <div class="booking-ok">
        <h2 class="booking-ok__heading">Bitte prüfen Sie Ihre Angaben!</h2>
        <div>
          <div class="booking-ok__avatar">
            <img src="images/content/mitarbeiter-avatar.jpg" alt="" class="booking-ok__img">
            <div class="booking-ok__name">Herr Müller</div>
          </div>
          <ul class="booking-ok__data">
            <li>Datum: <span>02.11.2015</span></li>
            <li>Zeit: <span>10:45</span></li>
            <li>Wo: <span>Sankt-Augustiner-Str. 11, 53225 Bonn / Beuel</span></li>
          </ul>
        </div>
        <table class="booking-ok__table booking-table">
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
          </tr>
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
          </tr>
          <tr>
            <td>
              <h4 class="booking-table__name">Damen</h4>
              <p class="booking-table__text">Waschen, Schneiden, Styling inkl. Kopfmassage</p>
            </td>
            <td>60 min</td>
            <td>65€</td>
          </tr>
        </table>
        <div class="booking-ok__price">
          <div class="booking-ok__sum">
            Gesamt-Summe: <span>130€</span>
          </div>
          <button class="btn btn--green">Jetzt Termin vereinbaren</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
